<h2>Bienvenido</h2>
<h4>Productos disponibles en cart:</h4>
{{#each products}}
<div>
    <h3>{{title}}</h3>
    <p>{{price}}</p>
    <p>{{description}}</p>
    <img src="{{thumbnail}}">
</div>
{{/each}}